[Unit]
Description=Restart Rancher Control Plane

[Timer]
OnActiveSec=30
Unit=rancher-manager.service
RemainAfterElapse=no

[Install]
WantedBy=timers.target